# Ignore all data files but preserve folder structure
data/**
!data/
!data/*/
!data/*/*/
!data/*/*/*/
!data/**/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Mac
.DS_Store

# Editors
.vscode/
.idea/
nohup.out
